* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  font-size: 40pt;
  text-transform: uppercase;
  color: chartreuse;
  padding-bottom: 54px;
  align-content: center;
}

img {
  margin: 30px;
}

#clock-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(61, 92, 149, 1) 50%,
    rgba(166, 0, 255, 1) 82%
  );
  color: aliceblue;
  padding: 45px;
  font-size: 80pt;
  font-style: normal;
  font-weight: 200;
  text-shadow: 5px 5px black;
  border: 10px solid whitesmoke;
  border-radius: 10px 10px 10px 10px;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
